.home{
  background-color: #696969;
}

.toolbar-background{
  background-color: #363636;
}

.tabbar.show-tabbar {
  background-color: #363636;
}

.item{
  background-color: #4F4F4F;
}

.home h1{
  font-size: 50px;
}
.home p{
  font-size: 20px;
}
